/* 
Andrew Ton
Assignment 7 - Train Scheduler
style.css  
*/


@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    background-image: url("../images/bg1.jpg");
    font-family: 'Indie Flower', cursive;
}

.bg-babyblue {
    background-color: #58c9eb;
}

#mainContent {
    background-color: #023e53a1;
}

#cardId {
    background-color: rgba(52, 58, 64, 0.5);
}   